.button {
  --button-height: 48px;
  --button-primary: var(--brand-primary);
  --button-primary-hover: hsl(342, 100%, 37%);
  --button-primary-pressed: hsl(342, 100%, 37%);
  --button-primary-pressed-border: hsla(342, 100%, 45%, 0.4);
  --button-primary-inactive: var(--brand-primary-disabled);
  --button-secondary: var(--brand-secondary);
  --button-secondary-hover: hsl(187, 97%, 29%);
  --button-secondary-pressed: hsl(187, 97%, 29%);
  --button-secondary-pressed-border: hsl(125, 64%, 85%);
  --button-secondary-inactive: var(--brand-secondary-disabled);
  --button-tertiary: var(--brand-tertiary);
  --button-tertiary-hover: hsl(210, 68%, 17%);
  --button-tertiary-pressed: hsl(210, 68%, 17%);
  --button-tertiary-pressed-border: hsla(210, 68%, 17%, 0.4);
  --button-tertiary-inactive: var(--brand-tertiary-disabled);
  --button-input-field-inactive: var(--brand-neutral-pebble);
}

.button {
  height: var(--button-height);
  min-width: 198px;
  padding: 0 20px;
  border: none;
  box-shadow: 0px 0px 0px 3px transparent;
  border-radius: calc(var(--button-height) / 2);
  font-size: 16px;
  font-family: var(--font-family);
  font-weight: 600;
  line-height: 1;
  cursor: pointer;
}

.button-medium {
  --button-height: 35px;
  font-size: 14px;
}

.button-primary {
  background-color: var(--button-primary);
  color: var(--white, currentColor);
}

.button-secondary {
  background-color: var(--button-secondary);
  color: var(--white, currentColor);
}

.button-tertiary {
  background-color: var(--button-tertiary);
  color: var(--white, currentColor);
}

.button-ghost {
  background-color: transparent;
  border: 3px transparent solid;
}

.button-ghost.button-primary {
  color: var(--button-primary);
  border-color: var(--button-primary);
}

.button-ghost.button-primary:hover {
  border-color: var(--button-primary-hover);
}

.button-ghost.button-secondary {
  border-color: var(--button-secondary);
  color: var(--button-secondary);
}

.button-ghost.button-secondary:hover {
  border-color: var(--button-secondary-hover);
}

.button-ghost.button-tertiary {
  border-color: var(--button-tertiary);
  color: var(--button-tertiary);
}

.button-ghost.button-tertiary:hover {
  border-color: var(--button-tertiary-hover);
}

.button-text,
.button-text:hover,
.button-text:active {
  background-color: transparent;
  border: 0;
  border-radius: 0;
}

.button-input-field {
  border-radius: var(--input-border-radius);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  min-width: 126px;
  height: var(--input-height-medium);
  clip-path: inset(-5px -5px -5px 0px);
}

.button-primary:hover,
.button-primary:active {
  background-color: var(--button-primary-hover);
  color: var(--white, currentColor);
}

.button-primary.button--disabled {
  background-color: var(--button-primary-inactive);
}

.button-secondary:hover,
.button-secondary:active,
.button-secondary.active {
  background-color: var(--button-secondary);
  color: var(--white, currentColor);
}

.button-secondary.button--disabled {
  background-color: var(--button-secondary-inactive);
}

.button-tertiary:hover,
.button-tertiary:active {
  background-color: var(--button-tertiary-hover);
  color: var(--white, currentColor);
}

.button-tertiary.button--disabled {
  background-color: var(--button-tertiary-inactive);
}

.button-primary:enabled:active {
  box-shadow: 0px 0px 0px 3px var(--button-primary-pressed-border);
}

.button-secondary:enabled:active {
  box-shadow: 0px 0px 0px 3px var(--button-secondary-pressed-border);
}

.button-tertiary:enabled:active {
  box-shadow: 0px 0px 0px 3px var(--button-tertiary-pressed-border);
}

.button-input-field:active {
  border-left: none;
}

.button-input-field.button--disabled {
  background-color: var(--button-input-field-inactive);
}

.button-starticon {
  margin-right: 4px;
  margin-left: -4px;
}

.button-label {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
